<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do Page</title>
</head>
<body style="background-color: black; color: yellow; text-align:center;">
    <h2>Create To-Do Item</h2>
    <form action="/submittodoitem" method="POST">
        <label>Item ID:</label>
        <input type="text" name="itemId" required><br><br>

        <label>Item Name:</label>
        <input type="text" name="itemName" required><br><br>

        <label>Item Description:</label>
        <input type="text" name="itemDescription" required><br><br>

        <label>Item UUID:</label>
        <input type="text" name="itemUuid" required><br><br>



        <button type="submit">Submit</button>
    </form>
</body>
</html>
